.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: map-get($breakpoints, "hd-desktop");
  padding: 30px 20px;
  font-family: $font-raleway;
  margin: 0 auto;

  @media screen and (max-width: map-get($breakpoints, "extra-large")) {
    flex-direction: column;
  }

  @media screen and (max-width: map-get($breakpoints, "medium")) {
    flex-direction: row;
  }

  &__logo {
    font-size: $text-xl;
    text-transform: uppercase;
    color: $black;
    font-weight: bold;

    @media screen and (max-width: map-get($breakpoints, "large")) {
      font-size: 32px;
    }
  }

  &__list {
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;

    @media screen and (max-width: map-get($breakpoints, "extra-large")) {
      margin-top: 32px;
    }

    @media screen and (max-width: map-get($breakpoints, "medium")) {
      display: none;
    }

    &__item {
      font-size: $text-md;
      color: $black;
      text-transform: uppercase;
      font-weight: bold;
      margin-right: 25px;

      @media screen and (max-width: map-get($breakpoints, "large")) {
        font-size: $text-s;
        margin-right: 16px;
      }

      &.is-shopping-bag {
        position: relative;

        .count {
          position: absolute;
          border-radius: 100%;
          background-color: $primary-green;
          color: $white;
          padding: 2.5px 5px;
          font-size: 11px;
          font-weight: 400;
          right: -10px;
          bottom: -10px;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .burger-button {
    display: none;
    border: none;
    padding: 15px;
    box-shadow: none;
    background-color: transparent;
    font-size: 24px;

    @media screen and (max-width: map-get($breakpoints, "medium")) {
      display: block;
    }
  }
}