// -----------------------------------------------------------------------------
// Color Palette
// -----------------------------------------------------------------------------

$black: #2e2e2e;
$black-two: #333333;
$black-three: #242424;
$brown-grey: #999999;
$dark-grey: #545551;
$light-grey: #f2f2f2;
$white: #f6f6f6;
$primary-green: #65a605;
$lime-green: #dded9a;

// -----------------------------------------------------------------------------
// Font Family
// -----------------------------------------------------------------------------

$font-raleway: "Raleway", sans-serif;
$font-lora: "Lora", sans-serif;

// -----------------------------------------------------------------------------
// Font Sizes
// -----------------------------------------------------------------------------

$text-ss: 13px;
$text-s: 14px;
$text-md: 18px;
$text-lg: 24px;
$text-xl: 48px;

// -----------------------------------------------------------------------------
// Font Weights
// -----------------------------------------------------------------------------

$text-bold: 700;
$text-medium: 500;
$text-regular: 400;

// -----------------------------------------------------------------------------
// Letter Spacings
// -----------------------------------------------------------------------------

$letter-spacing-ss: 0.3px;
$letter-spacing-s: 0.5px;
$letter-spacing-md: 0.6px;
$letter-spacing-lg: 1.1px;

// -----------------------------------------------------------------------------
// Line Heights
// -----------------------------------------------------------------------------

$line-height-ss: 18px;
$line-height-s: 24px;
$line-height-md: 36px;
$line-height-lg: 44px;
