// -----------------------------------------------------------------------------
// Color Palette
// -----------------------------------------------------------------------------

$black: #2e2e2e !default;
$black-two: #333333 !default;
$black-three: #242424 !default;
$brown-grey: #999999 !default;
$dark-grey: #545551 !default;
$light-grey: #f2f2f2 !default;
$white: #f6f6f6 !default;
$primary-green: #65a605;
$lime-green: #dded9a;

// -----------------------------------------------------------------------------
// Font Family
// -----------------------------------------------------------------------------

$font-raleway: "Raleway", sans-serif !default;
$font-lora: "Lora", sans-serif !default;

// -----------------------------------------------------------------------------
// Font Sizes
// -----------------------------------------------------------------------------

$text-ss: 13px;
$text-s: 14px;
$text-md: 18px;
$text-lg: 24px;
$text-xl: 48px;

// -----------------------------------------------------------------------------
// Font Weights
// -----------------------------------------------------------------------------

$text-bold: 700;
$text-medium: 500;
$text-regular: 400;

// -----------------------------------------------------------------------------
// Letter Spacings
// -----------------------------------------------------------------------------

$letter-spacing-ss: 0.3px;
$letter-spacing-s: 0.5px;
$letter-spacing-md: 0.6px;
$letter-spacing-lg: 1.1px;

// -----------------------------------------------------------------------------
// Line Heights
// -----------------------------------------------------------------------------

$line-height-ss: 18px;
$line-height-s: 24px;
$line-height-md: 36px;
$line-height-lg: 44px;

// -----------------------------------------------------------------------------
// Breakpoints
// -----------------------------------------------------------------------------

/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  "small": 480px,
  "medium": 768px,
  "large": 940px,
  "extra-large": 1280px,
  "hd-desktop": 1680px,
) !default;
